{{#each products}}
<div class="product">
    <img src="{{imgSrc}}" alt="" width="150px" >
    <span id="id">Id:{{id}}</span>
    <span id="name">Name:{{name}}</span>
    <span id="price">Price:{{price}}</span>
    <button>{{buttonInfo}}</button>
</div>
{{/each}}