{{#each books}}
<div class="bookInformation">
    <p>{{name}}</p>
    <p>{{publishingHouse}}</p>
    <p>{{price}}</p>
    <p>{{description}}</p>
    <button>{{buttonList}}</button>
    <button>{{buttonInfo}}</button>
</div>
{{/each}}