{{#each books}}
<div class="bookInformation">
    <img src="{{imgSrc}}" alt="">
    <p>Name: {{name}}</p>
    <p>{{publishingHouse}}</p>
    <p>Price: {{price}}</p>
    <p>{{description}}</p>
    <button id="btnList">{{buttonList}}</button>
</div>
{{/each}}